*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.logo{
    -webkit-animation: rotate-center 0.6s ease-in-out both;
	animation: rotate-center 0.6s ease-in-out both;
  width: 150px;
  height: 150px;
  background-image: url(./imagenes/mancha\ titulo.jpg);
}
.ventanas{ 
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-decoration: none;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.ventanas:hover{
    border-radius: 2rem ;
    background-color: rgba(255, 123, 0, 0.568);
}
.ingreso{
    background-color: rgba(255, 123, 0, 0.568);
    border-radius: 2rem;
}

.carousel-inner{
    height: 650px;
}
.form-select{
    margin: 1rem;
    width: 190px;
    background-color:rgba(128, 128, 128, 0.514);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton{
    margin: 5px;
    padding: 5px;
    background-color:rgba(128, 128, 128, 0.685);
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
background-color: rgba(210, 102, 30, 0.616);
padding: 2rem;
z-index: 4;
margin: -150px;
margin-left: auto;
margin-right: auto;
}
.card .card-interno .card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.card .card-interno p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.titulo-secundario{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15rem;
}
.titulo-secundario h2{
  font-size: 18px;
  color: rgba(255, 127, 80, 0.562);
 
}
.titulo-secundario h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:underline;
    color: rgba(128, 128, 128, 0.829);
}
.contenedor{
    margin-top: 3rem;
    padding: 2rem;
    justify-content:space-around;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor .titulo-tarjeta{
    margin: 1rem;
    font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(255, 127, 80, 0.562);
}
.contenedor .texto-tarjeta{
  border: solid 2px rgba(243, 135, 46, 0.747);
    padding: 2rem;
    margin: 1rem;
    font-size: 15px;
   font-family:'Times New Roman', Times, serif;


}
.novedades{
    justify-content: center;
    justify-content: space-around;
    padding: 2rem;
    margin: 2rem;
}

.nov{
    overflow: hidden;
    background-color: rgba(210, 102, 30, 0.616);
    border-radius: 2rem;
    width: 350px;
    height: 200px;
}
/*SEGURIDAD*/
.titulo{
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgba(243, 135, 46, 0.747);
   margin: 4rem;
}
.titulo h3{
    font-size: 20px;
}
.titulo h5{
    margin: 2rem;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(128, 128, 128, 0.712);;
}
.tipsseguridad .lista h3{
  text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(243, 135, 46, 0.747);
    font-size: 20px;
    margin: 1rem;
}
.tipsseguridad .lista li{
    list-style-type:none;
    background-color: rgba(128, 128, 128, 0.247);
    margin: 1rem;
    padding: 10px;
}
.tipsseguridad .lista h5{
  text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(128, 128, 128, 0.712);
    font-size: 15px;
}
.tipsseguros li{
  overflow: hidden;
  border: solid 2px rgba(243, 135, 46, 0.747);;
  padding: 1rem;
  width: 300px;
  height: 200px;
}

.tipsseguros .cajitas{
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1rem;
  gap: 1rem;
  color: rgba(128, 128, 128, 0.712);;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}
.formulario{
  padding: 2rem;

}
.itemtitulo h1{
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(226, 123, 50, 0.74);
  margin: 1rem;
}
.formulario .item1 h2{
  font-size: 20px;
  font-family: serif;
}
.formulario .item2 h2{
  font-size: 20px;
  font-family: serif;
}
.formulario .item3 h2{
  font-size: 20px;
  font-family: serif;
}

.formulario .itemselector{
  font-size: 18px;
  width: 30%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 127, 80, 0.726);
}
.formulario .datos{
  display: flex;
  width: 18%;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.formulario .campotexto{
  margin: 1rem;
}
.formulario .itembotones .botones{
  color: #db8242cb;
  width: 10%;
}
.ilustraciones .itemimagen1{
width: 450px;
display: flex;
margin-left: 60%;
margin-top: -750px;
}
.ilustraciones .itemimagen2{
  width: 450px;
  display: flex;
  margin-left: 40%;
  margin-top: -150px;
  border-radius: 50%;
}

@media screen and (max-width: 576px){

    .tarjeta-contenedor{
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-top: -10rem;
        position: relative;
        gap: 20rem;
    }
    .tarjeta-contenedor .card{
        background-color: #f58930bd;
    }

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
}
.novedades{
  display: flex;
  margin: 2px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.tipsseguridad{
 flex-direction: column;
}
/*CONTACTO*/

.ilustraciones .itemimagen1{
  width: 350px;
  display: flex;
  margin-top: auto;
  margin-left: 10%;
}
.ilustraciones .itemimagen2{
  width: 300px;
  display: flex;
  margin-top: -40px;
  margin-left: 10%;
}
.formulario .itemselector{
  width: 80%;
}
.formulario .datos{
  width: 70%;
}
.formulario .itembotones .botones{
  width: 20%;
}


/**ANIMISTA**/
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  